.productCard .textPart{
  transition: transform 0.4s ease-out;
  /* border-radius: 30px; */
  background: #fdf9f9;
  /* box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff; */
}

.productCard:hover .textPart{
  transform: translateY(-1rem);
}

.productCard:hover {
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
             
}


